<div object>
   <div class="flex flex-1 justify-center js-reset-data">
        <section>
            <button class="btn text-xl js-reset-data" new:week>Add Week</button>
        </section>
    </div>

<div array key="weeks" class="flex flex-col flex-wrap">
    {{#for week in weeks}}
    <div class="flex flex-wrap flex-1 m-5 h-80v pt-24 justify-center" array key="stacks">
        <!-- Iterate Through days predefined in bootstrap.json-->
        {{#for stack in week.stacks}}
        <div class="card w-96 bg-base-100 m-4">
            <div class="card-body p-0">
                <!-- Pulls the heading for each stack-->
                <section object key:day-Heading="@search" default:day-Heading="Error">
                    <h2 class="card-title text-3xl border-b-4 mb-14" target:day-Heading="@innerText">{{stack.dayHeading}}</h2>
                    <!-- Defines sub array "goals"-->
                    <section array key="goals">
                        <!-- Iterates through goals (of which there are two)-->
                        {{#for goal in stack.goals}}
                        <!-- Each goal is in its own section object-->
                        <section object key:goal-Title="@search" key:goal-Text="@search" edit:goal-Text:without-remove>
                            <!-- Pull the title and placeholder text, and place them into appropriate containers-->
                            <h3 class="text-lg font-semibold border-b-4 text-xl my-6" target:goal-Title="@innerText">
                                {{goal.goalTitle}}
                            </h3>
                            <ul class="flex flex-col flex-start mb-2 pl-1 text-xl border-b-4">
                                <li target:goal-Text="@innerText">
                                    {{goal.goalText}}
                                </li>
                            </ul>
                        </section>
                        {{/for}}
                    </section>
                    
                    <h3 class="text-xl font-semibold flex justify-between border-b-4 my-6">
                        <div>
                            Activity
                        </div> 
                        <div>
                            <button class="" new:fitness=".fitness-target bottom">Add</button>
                        </div>
                    </h3>
                    <section class="fitness-target" array key="fitness" sortable="fitness">
                        {{#for fitness in stack.fitness}}
                        <section class="flex flex-col flex-start mb-4 pl-1 text-xl  border-b-4" object key:goalText="@search" edit:goalText>
                            <p target:goalText="@innerText">
                                {{default fitness.goalText "New Activity"}}
                            </p>
                        </section>
                        {{/for}}
                    </section>

                    <!-- Hardcoded misc title for simplicity-->
                    <h3 class="text-xl font-semibold flex justify-between border-b-4 my-6">
                        <div>
                            Misc
                        </div> 
                        <div>
                            <button class="" new:misc=".misc-target bottom">Add</button>
                        </div>
                    </h3>
                    <!-- Defines second sortable sub array "miscs"
                        class "misc-target" is needed for new miscs added to
                        be placed in the proper place-->
                    <section class="misc-target" array key="miscs" sortable="miscs">
                        {{#for misc in stack.miscs}}
                        <section class="flex flex-col flex-start mb-4 pl-1 text-xl border-b-4" object key:misc-Text="@search" edit:misc-Text>
                            <p target:misc-Text="@innerText">
                                {{default misc.miscText "New misc"}}
                            </p>
                        </section>
                        {{/for}}
                    </section>
                </section>
            </div>
        </div>
        {{/for}}
    </div>
    {{/for}}
</div>
</div>