<!-- Top level array "stacks" to hold each day-->
<div class="flex flex-wrap flex-1 m-5 pt-6 justify-center" array key="stacks">
    <!-- Iterate Through days (stacks) predefined in bootstrap.json-->
    {{#for stack in stacks}}
    <div class="card w-1/7 min-w-[12%] bg-base-100 m-4 ">
        <div class="card-body p-0">
            <!-- Needed to prevent duplication -->
            <section object>
                <!-- Pulls the heading for each stack-->
                <section>
                    <h2 class="card-title text-3xl border-b-4 mb-14" object key:day-Heading="@innerText" edit:day-Heading:without-remove>
                        {{default stack.dayHeading "Add Date"}}
                    </h2>
                </section>
                <!-- Weight section -->
                <section object key:weight="@search" edit:weight:without-remove>
                    <h3 class="text-lg font-semibold border-b-4 text-xl my-6">
                        Weight
                    </h3>
                    <ul class="flex flex-col flex-start mb-2 pl-1 text-xl border-b-4">
                        <li target:weight="@innerText">
                            {{default stack.weight "Log Weight"}}
                        </li>
                    </ul>
                </section>
                <!-- Calorie count section -->
                <section object key:cal-Count="@search" edit:cal-Count:without-remove>
                    <h3 class="text-lg font-semibold border-b-4 text-xl my-6">
                        Calories
                    </h3>
                    <ul class="flex flex-col flex-start mb-2 pl-1 text-xl border-b-4">
                        <li target:cal-Count="@innerText">
                            {{default stack.calCount "Log Calories"}}
                        </li>
                    </ul>
                </section>
                <!-- Activity log -->
                <h3 class="text-xl font-semibold flex justify-between border-b-4 my-6">
                    <div>
                        Activity
                    </div> 
                    <div>
                        <button class="" new:fitness=".fitness-target bottom">Add</button>
                    </div>
                </h3>
                <section class="fitness-target" array key="fitness" sortable="fitness">
                    {{#for fitness in stack.fitness}}
                    <section class="flex flex-col flex-start mb-4 pl-1 text-xl  border-b-4" object key:goal-text="@search" edit:goal-text>
                        <p target:goal-text="@innerText">
                            {{default fitness.goalText "New Activity"}}
                        </p>
                    </section>
                    {{/for}}
                </section>

                <!-- Misc items-->
                <h3 class="text-xl font-semibold flex justify-between border-b-4 my-6">
                    <div>
                        Misc
                    </div> 
                    <div>
                        <button class="" new:misc=".misc-target bottom">Add</button>
                    </div>
                </h3>
                <section class="misc-target" array key="miscs" sortable="miscs">
                    {{#for misc in stack.miscs}}
                    <section class="flex flex-col flex-start mb-4 pl-1 text-xl border-b-4" object key:misc-Text="@search" edit:misc-Text>
                        <p target:misc-Text="@innerText">
                            {{default misc.miscText "New misc"}}
                        </p>
                    </section>
                    {{/for}}
                </section>
            </section>
        </div>
    </div>
    {{/for}}
</div>
<!-- Button to add new days -->
<div class="flex flex-1 justify-center js-reset-data mb-10">
    <section>
        <button class="btn text-xl js-reset-data" new:stack>Add Day</button>
    </section>
</div>